body {
    background-color: aqua;

}



#box1{
   height: 100px;
   width: 100px;
   background-color: green;
   display: inline-block;
   margin: 20px;
   position: static;
   border: 2px solid black;
}

#box2{
    height: 100px;
    width: 100px;  /* parent width ka 30% lega*/ 
    background-color: rgb(213, 193, 16);
    /* margin: 10% 30% 20% 15%;
    font-size: 2em;
     two times bigger of parent font size  
    width: 5rem; 
    yah html ke hisab se font size ko set karta h.
    height: 50vh; 
    yah browser ki height ke hisab se height deta h jitna bhi % apko chahiye.*/
    display: inline-block;
    margin: 20px;
    position: relative;
    z-index: 0; /* yah batata hai ki jab ek ke upar ek box hote h to kaun sa box pahle show hoga kaun sa bad me.
    /* top: 20px; we can do change in the relative position with anywhere [top , bottom , left , right] */
    border: 2px solid black;

}

#box3{
    height: 100px;
    width: 100px;
    background-color: brown;
    display: inline-block;
    margin: 20px;
    /* position: absolute;  It is non-static we move it from top bottom left right anywhere. iska use karne se yah doosre box ke upar chadh jata h. mtlb use chhupa deta h.
    top :  10px;  */
    border: 2px solid black;
    z-index: 2;
}

#box4{
    height: 100px;
    width: 100px;
    background-color: red;
    display: inline-block;
    border: 2px solid black;
    position: fixed;
    left: 0;
    top: 0;
}
#box5{
    height: 100px;
    width: 100px;
    background-color: blue;
    display: inline-block;
    border: 2px solid black;
    position: sticky; /* it is move when user reach this box into the browser. */
    
}

p{
    color: black;
    background-color: palevioletred;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}